In [12]:
import numpy as np
import pandas as pd

In [13]:
data = pd.read_csv('/content/Technical Support Dataset.csv')

In [14]:
df = pd.DataFrame(data)

In [15]:
df.describe()

,Ticket ID,Agent interactions,Survey results,Latitude,Longitude
count,2330.000000,2312.000000,1173.000000,2330.000000,2330.000000
mean,2481.857082,5.470156,3.510656,48.260756,9.849723
std,858.040637,8.130958,1.240361,5.085409,9.814618
min,1012.000000,1.000000,1.000000,39.368279,-8.019675
25%,1726.250000,2.000000,3.000000,43.036776,2.349014
50%,2480.000000,4.000000,4.000000,48.864716,12.678565
75%,3233.750000,6.000000,4.000000,52.536273,15.474913
max,3999.000000,60.000000,5.000000,55.378052,25.483304

In [16]:
df.head()

,Status,Ticket ID,Priority,Source,Topic,Agent Group,Agent Name,Created time,Expected SLA to resolve,Expected SLA to first response,...,Resolution time,SLA For Resolution,Close time,Agent interactions,Survey results,Product group,Support Level,Country,Latitude,Longitude
0,Closed,1012,Low,Email,Feature request,1st line support,Kristos Westoll,2023-01-02 00:58:36,2023-01-04 00:58:36,2023-01-02 01:58:36,...,2023-01-04 00:31:51.694,Within SLA,2023-01-04 04:02:59.013,1.0,3.0,Custom software development,Tier 1,Republic of Ireland,53.094024,-8.019675
1,In progress,1013,High,Phone,Product setup,2nd line support,Adolpho Messingham,2023-01-02 07:27:25,2023-01-04 07:27:25,2023-01-02 07:29:25,...,NaN,SLA Violated,NaN,3.0,NaN,Other,Tier 2,Italy,43.036776,12.678565
2,Resolved,1014,Low,Chat,Purchasing and invoicing,1st line support,Bernard Beckley,2023-01-02 06:59:04,2023-01-03 06:59:04,2023-01-02 07:01:04,...,2023-01-02 22:45:32.974,Within SLA,NaN,2.0,NaN,Custom software development,Tier 1,Austria,47.696472,13.345735
3,Closed,1015,Medium,Email,Pricing and licensing,1st line support,Connor Danielovitch,2023-01-03 03:09:39,2023-01-05 03:09:39,2023-01-03 04:09:39,...,2023-01-04 14:32:34.979,Within SLA,2023-01-08 04:24:54.771,10.0,4.0,Ready to use Software,Tier 1,Spain,39.673370,-4.767726
4,Closed,1016,Low,Email,Product setup,1st line support,Kristos Westoll,2023-01-03 00:03:58,2023-01-05 00:03:58,2023-01-03 01:03:58,...,2023-01-04 12:03:05.986,Within SLA,2023-01-06 06:05:08.637,1.0,2.0,Other,Tier 1,Austria,47.696472,13.345735

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2330 entries, 0 to 2329
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Status                          2330 non-null   object
 1   Ticket ID                       2330 non-null   int64
 2   Priority                        2330 non-null   object
 3   Source                          2330 non-null   object
 4   Topic                           2330 non-null   object
 5   Agent Group                     2330 non-null   object
 6   Agent Name                      2330 non-null   object
 7   Created time                    2330 non-null   object
 8   Expected SLA to resolve         2330 non-null   object
 9   Expected SLA to first response  2330 non-null   object
 10  First response time             2330 non-null   datetime64[ns]
 11  SLA For first response          2330 non-null   object
 12  Resolution time                 2330 non-null   datetime64[ns]
 13  SLA For Resolution              2330 non-null   object
 14  Close time                      2330 non-null   datetime64[ns]
 15  Agent interactions              2330 non-null   float64
 16  Survey results                  2330 non-null   float64
 17  Product group                   2330 non-null   object
 18  Support Level                   2330 non-null   object
 19  Country                         2330 non-null   object
 20  Latitude                        2330 non-null   float64
 21  Longitude                       2330 non-null   float64
dtypes: datetime64[ns](3), float64(4), int64(1), object(14)
memory usage: 400.6+ KB

In [18]:
df['Survey results'] = df['Survey results'].fillna(df['Survey results'].mean()).round()

In [20]:
df['Survey results'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2330 entries, 0 to 2329
Series name: Survey results
Non-Null Count  Dtype
--------------  -----
2330 non-null   float64
dtypes: float64(1)
memory usage: 18.3 KB

In [26]:
df['Agent interactions'] = df['Agent interactions'].fillna(df['Agent interactions'].mean()).round()

In [27]:
df['Agent interactions']

0        1.0
1        3.0
2        2.0
3       10.0
4        1.0
        ...
2325     1.0
2326     1.0
2327     1.0
2328    10.0
2329     2.0
Name: Agent interactions, Length: 2330, dtype: float64

In [32]:
df['First response time']

0      2023-01-02 01:03:17.432
1      2023-01-02 07:27:43.231
2      2023-01-02 06:59:57.471
3      2023-01-03 07:09:15.835
4      2023-01-03 00:08:01.684
                 ...
2325   2023-12-29 04:29:37.420
2326   2023-12-30 04:09:58.671
2327   2023-12-30 04:54:26.957
2328   2023-12-30 13:53:21.103
2329   2023-12-30 20:18:08.199
Name: First response time, Length: 2330, dtype: datetime64[ns]

In [31]:
df['First response time'] = pd.to_datetime(df['First response time'])
df['First response time'] = df['First response time'].fillna(df['First response time'].median())

In [38]:
df['Resolution time'] = pd.to_datetime(df['Resolution time'])
df['Resolution time'] = df['Resolution time'].interpolate()

In [39]:
df['Resolution time']

0      2023-01-04 00:31:51.694000000
1      2023-01-03 11:38:42.334000128
2      2023-01-02 22:45:32.974000000
3      2023-01-04 14:32:34.979000000
4      2023-01-04 12:03:05.986000000
                    ...
2325   2023-12-30 18:38:54.682000000
2326   2023-12-30 20:49:05.132000000
2327   2024-01-04 05:39:41.133000000
2328   2023-12-31 23:25:16.816000000
2329   2024-01-01 10:17:15.196000000
Name: Resolution time, Length: 2330, dtype: datetime64[ns]

In [41]:
df['Close time']

0       2023-01-04 04:02:59.013
1                           NaN
2                           NaN
3       2023-01-08 04:24:54.771
4       2023-01-06 06:05:08.637
                 ...
2325                        NaN
2326                        NaN
2327                        NaN
2328                        NaN
2329                        NaN
Name: Close time, Length: 2330, dtype: object

In [42]:
df['Close time'] = pd.to_datetime(df['Close time'])
df['Close time'] = df['Close time'].interpolate()

In [44]:
df.to_excel('CustSupportTickets.xlsx', index=False)